* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: rgb(234, 80, 69);
    --gutter: .75mm;
}
@font-face {
    font-family: "title";
    src: url("helvetica-neue-lt-std-bdcn.otf");
}
@font-face {
    font-family: "text";
    src: url("helvetica-neue-lt-std-roman.otf");
}
body {
    position: relative;
}
#frontpage {
  height: 100vh;
  background-color: azure;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
  margin: 1em;
}

a:hover {
  cursor: pointer;
}

nav {
  text-align: center;
    padding: 30px;
}

#coreAreas {
  background-color: rgb(76, 55, 75);
    padding: 30px;
  display: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

p,
h1 {
  padding: 1%;
  text-align: center;
  grid-column: 1/-1;
    font-family: "title", "arial", "sans-serif";
    font-size: 30pt;
    margin-top: 1em;
}
h2, h3, li {
    font-family: "title", "arial", "sans-serif";
    font-size: 14pt;
    margin-bottom: 13pt;
}
p {
  margin-top: 0;
    font-family: "text", "arial", "sans-serif";
    font-size: 11pt;
    text-align: left;
}
#coreAreas h1 {
    color: var(--primary-color);
}
.coreimg {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 5%
}

.wrapper {
  position: relative;
  margin: 3%;
}
.semester {
    margin-bottom: var(--gutter);
}
.semester>div:not(.details) {
    display: grid;
    grid-template-columns: 5em 1fr;
}
.blocks {
    padding: 0;
    height: auto;
    display: grid;
    grid-gap: var(--gutter);
}
.block {
    background-color: rgb(255, 180, 170);
    height: 130px;
}
.hide {
  display: none;
}

.details {
    position: absolute;
    height: 100%;
    width: 75%;
    right: 0;
    top: 0;
    background-color: aqua;
    overflow: scroll;
}

.expand {
  font-size: 2em;
  margin: 0;
  cursor: pointer;
    animation: flash 2s infinite;
}

@keyframes flash {
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.x {
    cursor: pointer;
    font-size: 2em;
    text-align: right;
}

#exams {
  background-color: bisque;
}

#additional {
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr;
    padding: 3%;
}
section {
    padding: 2em;
    height: 1em;
    overflow: hidden;
}
section.unfold {
    height: auto;
}
sub {
    cursor: pointer;
}
section.core-area {
    height: auto;
}


@media screen and (min-width: 700px) {
    .wrapper {
        margin: 0 10%;
    }
    #coreAreas {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #additional {
        grid-template-columns: 1fr 1fr;
    }

}
