* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
}
#frontpage {
  height: 100vh;
  background-color: azure;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
  margin: 1em;
}

a:hover {
  cursor: pointer;
}

nav {
  text-align: center;
}

#coreAreas {
  background-color: rebeccapurple;
  display: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

p,
h1 {
  padding: 1%;
  text-align: center;
  grid-column: 1/-1;
}

p {
  margin-top: 0;
}

.coreimg {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 5%
}

.wrapper {
  position: relative;
  margin: 3%;
}

.semester {
  border: 1px solid black;
}
.blocks {
    padding: 15px;
    height: auto;
    display: grid;
    grid-gap: 15px;
}
.block {
    background-color: darkorange;
    height: 90px;
}
.hide {
  display: none;
}

.details {
    position: absolute;
    height: 100%;
    width: 75%;
    right: 0;
    top: 0;
    background-color: aqua;
    overflow: scroll;
}

.expand {
  font-size: 2em;
  margin: 0;
  cursor: pointer;
    animation: flash 2s infinite;
}

@keyframes flash {
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.x {
    cursor: pointer;
    font-size: 2em;
    text-align: right;
}

#exams {
  background-color: bisque;
}

#additional {
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr;
    padding: 3%;
}
section {
    padding: 2em;
    height: 1em;
    overflow: hidden;
}
section.unfold {
    height: auto;
}
sub {
    cursor: pointer;
}
section.core-area {
    height: auto;
}


@media screen and (min-width: 700px) {
    .wrapper {
        margin: 10%;
    }
    #coreAreas {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #additional {
        grid-template-columns: 1fr 1fr;
    }

}
