* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'helvetica_neue';
  src: url(fonts/helvetica_neue.otf);
}

@font-face {
  font-family: 'helvetica_roman';
  src: url(fonts/helvetica_roman.otf);
}

body {
  position: relative;
  background-color: rgb(175, 202, 200);
}

#frontpage {
  height: 100vh;
  background-color: rgb(175, 202, 200);
}

.topMenu {
  background-color: rgb(76, 55, 75);
  font-size: 20px;
  font-family: helvetica_roman;
}

.topMenu li a {
  color: white;
}

svg {
  width: 90%;
  margin: auto;
  display: block;
}

path {
  fill: none;
  stroke: rgb(76, 55, 75);
  stroke-width: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}

.draw {
  animation: dash 100s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: rgb(76, 55, 75);
  margin: 1em;
}

a:hover {
  cursor: pointer;
}

nav {
  text-align: center;
}

#coreAreas {
  background-color: rgb(255, 180, 170);
  display: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

p {
  text-align: center;
  grid-column: 1/-1;
  color: rgb(76, 55, 75);
  font-family: 'helvetica_roman';
  padding: 1%;
}

.core-area p {
  color: white;
}

h1 {
  padding: 1%;
  text-align: center;
  grid-column: 1/-1;
  color: rgb(76, 55, 75);
  font-family: 'helvetica_neue';
  font-size: 30px;
}

p {
  margin-top: 0;
}

.coreimg {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 5%
}

.coreimg img {
  width: 100px;
  height: 100px;
  background-color: white;
}

.wrapper {
  position: relative;
  margin: 3%;
}

.semester {
  border: 1px solid black;
  background-color: rgb(255, 180, 170);
}

.blocks {
  padding: 15px;
  height: auto;
  display: grid;
  grid-gap: 15px;
}

h2 {
  font-family: 'helvetica_neue';
  color: rgb(76, 55, 75);
}

/* i {
  border: solid rgb(76, 55, 75);
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 2em;
} */

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: 19%;
  left: 50%;
  margin-left: -50px;
  border: solid rgb(76, 55, 75);
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 2em;
}

footer {
  height: 15vh;
  background-color: rgb(76, 55, 75);
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: helvetica_roman;
}

footer p {
  font-size: 15px;
  color: white;
  font-family: helvetica_roman;
}

h3 {
  color: rgb(76, 55, 75);
}

.semester h3 {
  color: white;
}

#programStructure {
  background-color: rgb(175, 202, 200);
}

.block {
  /* background-color: rgb(255, 180, 170); */
  height: 90px;
}

.hide {
  display: none;
}

.details {
  position: absolute;
  height: 100%;
  width: 75%;
  right: 0;
  top: 0;
  background-color: rgb(199, 87, 72);
  overflow: scroll;
}

.expand {
  font-size: 2em;
  margin: 0;
  cursor: pointer;
  animation: flash 2s infinite;
}

@keyframes flash {
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.x {
  cursor: pointer;
  font-size: 2em;
  text-align: right;
}

#exams {
  background-color: bisque;
}

h3 {
  font-family: 'helvetica_neue';
  color: rgb(76, 55, 75);
}

#additional {
  background-color: rgb(255, 180, 170);
  display: grid;
  grid-template-columns: 1fr;
  padding: 3%;
}

section {
  padding: 2em;
  height: 1em;
  overflow: hidden;
}

section.unfold {
  height: auto;
}

sub {
  cursor: pointer;
  float: right;
}

section.core-area {
  height: auto;
}

.semester-menu {
  padding: 2em;
  background-color: rgb(255, 228, 196);
}

.pictures img {
  width: 200px;
}

.unfoldMe {
  cursor: pointer;
  padding: 5px;
  text-transform: uppercase;
}

.unfoldMe-bg1 {
  background-color: #FFE4C4;
}

.unfoldMe-bg2 {
  background-color: #FFB4AA;
}

@media screen and (min-width: 700px) {
  .wrapper {
    margin: 10%;
  }
  .pictures {
    display: inline;
    float: left;
    padding-left: 2em;
  }
  #coreAreas {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #additional {
    grid-template-columns: 1fr 1fr;
  }
  svg {
    width: 90%;
  }
  #exams {
    display: grid;
    grid-template-columns: 3fr 3fr;
    padding: 3%;
  }
  #frontpage {
    display: grid;
    grid-template-columns: 3fr 3fr;
    justify-self: center;
    padding-top: 10vh;
  }
  .exams-text p {
    text-align: left;
  }
  .semester {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}